node_modules/
.vercel
.env
public/IMG/cards/
#public/IMG/NFTcards/
public/IMG/NFT/thumb120/   
#public/IMG/NFT/thumb500/
 
public/IMG/WEBNFT/

nodemon.json
npmrc
.npmrc.vercel
# Ignore Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo