.assistantError{

    padding:.35rem 0;

    border-bottom:1px solid #333;

}

.assistantPreview{

  /*  font-family:monospace;*/ 

}

.traitValue,
.traitValid{

  /*white-space: nowrap;*/

color:#43a33e;

cursor:pointer;

font-weight:600;
}

/* ==========================================================
   Producer Token
   ========================================================== */

.producerToken {

    /* Recommended (Indigo) */
    color: #7C83FD;

    /* Alternatives */
    /* color: #569CD6; */ /* VS Code blue */
    /* color: #5AA9FF; */ /* Electric blue */
    /* color: #4FC3F7; */ /* Bright cyan */
    /* color: #A78BFA; */ /* Soft purple */
    /* color: #C084FC; */ /* Lavender */
    /* color: #B388FF; */ /* Neon purple */

}

.traitValueError,
.traitError{

    color:#ff5757;

    cursor:pointer;

    font-weight:600;

}

.traitError:hover{

    text-decoration:underline;

}
 


 

.assistantError{

    flex:0 0 auto;

}

.assistantPreview{

white-space: break-spaces;

/* white-space:nowrap; */
}




.assistantInfo{

    padding:6px 10px;

    font-size:12px;

    border-top:1px solid var(--border);

}

.assistantInfo--warning{

    color:#d7ba7d;

}

.assistantInfo--error{

    color:#f48771;

}

.assistantInfo--count{

    color:#9cdcfe;

}

.assistantInfo--hint{

    color:#aaaaaa;

}

/*

#queryAssistant{
     
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    gap:.5rem;
     
}
    */


/* ================================================  */
#queryAssistant{

min-width:0;

overflow-x:auto;

overflow-y:hidden;

 /* white-space:nowrap;*/
}
  

.queryAssistantContent{

display:inline-flex;

/* gap:12px; */

/* min-width:max-content; */

/* display: flex; */

/* width:max-content; */
} 



/* ============================================================= 



*/

.producerToken,
.traitValue, .traitValueError,
.traitValid, .traitError {
 
/*
    position:relative;
 
    display:inline-block;

    padding:0 20px;   
 */
}

.pipelineAnchor{
/*
    position:absolute;

    left:50%;

    bottom:-2px;

    width:0;

    height:0;

    transform:translateX(-50%);

    pointer-events:none;
*/
}