.tokenConnector{
  position: absolute;
    inset: 0;
    pointer-events: none;

}

.connectorVertical{

   
    
     position:absolute; 

    width:2px;

    background:#5fa8ff;

}

.connectorHorizontal{
 
    
   position:absolute; 

    height:2px;

    background:#5fa8ff;

}

.connectorDot{
    
     
    position:absolute; 

    width:6px;

    height:6px;

    border-radius:50%;

    background:#5fa8ff;

    transform:translate(-2px,-2px);

}