 
 /*

#sheetPreview img {

    width: 100%; 
    
    object-fit: contain;  
    border: 1px solid #666;

}
 */

/*
Specificity values are approximately:

#id       = 100
.class    = 10
element   = 1
*/